@{
    ViewData["Title"] = "Nueva OV preliminar";
}

@section Styles {
    <!--Datatables START-->
    <link href="~/lib/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
    <!--Datatables END-->

    <!--Datepicker START-->
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <!--Datepicker END-->

    <!--Typehead START-->
	<link href="~/lib/jquery-typeahead/dist/jquery.typeahead.min.css" rel="stylesheet">
    <!--Typehead END-->

    <style>
        body {
            zoom: 75%;
        }
        .input-group {
            flex-wrap: nowrap;
        }

        .custom-select {
            background-position: left 0.75rem center;
            padding: 0.375rem 0.75rem 0.375rem 2.25rem;
        }

        .dataTables_scrollBody{
            height: 850px;
        }

        .typeahead__list{
            z-index: 999;
        }

        #loadingSpinner {
            display: none;
        }


    </style>

}

@section Scripts {
    <script src="~/lib/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/lib/@@highlightjs/cdn-assets/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>

    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

    <script src="~/lib/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>

    <script src="~/lib/jquery-typeahead/dist/jquery.typeahead.min.js"></script>

    <script src="~/lib/select-picker/dist/picker.min.js"></script>

    <!--BEGIN Datatable-->
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="~/lib/datatables.net-select/js/dataTables.select.min.js"></script>
    <!--END Datatable-->

    @*<script src="~/js/demo/new-order-draft-demo.js"></script>*@
    <script src="~/js/scripts/ingreso_newOrderDraft.js"></script>
	
}

@{
    var orderData = ViewBag.OrderData;
}

<!--BEGIN Toast-->
<div class="position-fixed top-1 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Se creo la orden satisfactoriamente
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
<!--END Toast-->

<div class="d-flex align-items-center mb-3">
	<div>
		<ul class="breadcrumb">
			<li class="breadcrumb-item"><a href="/Ingreso/OrderDraft">Ingreso</a></li>
			<li class="breadcrumb-item active">Crear orden</li>
		</ul>
		<h1 class="page-header mb-0">Nueva orden</h1>
	</div>
</div>

&nbsp;

<form id="formNewOrderDraft" name="formNewOrderDraft">
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card mb-3">
            <div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-light">
                DATOS DEL CLIENTE
            </div>
            <div class="card-body align-items-center fw-light">
                <div class="row gx-3">
                    <div class="col-12 col-sm-12 col-mb-7 col-lg-7">
                        <div class="row gx-3 mb-2">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-4" style="width: 28%;">
                                <div class="typeahead__container">
                                    <label class="form-label" style="font-size: 12px">Código de Cliente</label>
                                    <div class="typeahead__field">
                                        <div class="typeahead__query input-group">
                                            <span id="porCodigoCliente" class="input-group-text"><i class="fa fa-search"></i></span>
                                            <input type="text" data-codPriceList="" class="form-control" name="inputCodigoCliente[query]" id="inputCodigoCliente" autocomplete="off" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-4" style="width: 38%;">
                                <div class="typeahead__container">
                                    <label class="form-label" style="font-size: 12px">Nombre de Cliente</label>
                                    <div class="typeahead__field">
                                        <div class="typeahead__query input-group">
                                            <span id="porNombreCliente" class="input-group-text"><i class="fa fa-search"></i></span>
                                            <input type="text" class="form-control" name="inputNombreCliente[query]" id="inputNombreCliente" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                    <label for="inputPersonaContacto" class="form-label" style="font-size: 12px">Persona de contacto</label>
                                <div class="input-group mb-3">
                                    <select id="inputPersonaContacto" name="inputPersonaContacto" class="form-select custom-select">
                                        @*<option selected></option>*@
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row gx-3">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-4" style="width: 28%;">
                                <div class="container-fluid px-0 mx-0 mb-3">
                                    <label for="inputNumeroReferencia" class="form-label" style="font-size: 12px">Número de referencia</label>
                                    <div class="container-fluid px-0 mx-0 nowrap">
                                        <div class="input-group" sytle="flex-wrap: nowrap;">
                                            <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                                            <input id="inputNumeroReferencia" name="inputNumeroReferencia" type="text" class="form-control w-75" autocomplete="off"  required>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row g-2">
                                    <div class="col-6">
                                        <label for="inputSerieDoc" class="form-label" style="font-size: 12px">Serie de doc.</label>
                                        <div class="input-group mb-3">
                                            <select id="inputSerieDoc" name="inputSerieDoc" class="form-select custom-select" required>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label for="inputCorrelativo" class="form-label" style="font-size: 12px">Correlativo</label>
                                        <div class="input-group mb-3">
                                            <input id="inputCorrelativo" name="inputCorrelativo" type="text" class="form-control bg-inverse bg-opacity-10" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-4"  style="width: 38%;">
                                <label for="inputDireccionDestino" class="form-label" style="font-size: 12px">Dirección destino</label>
                                <div class="input-group mb-3">
                                    <select id="inputDireccionDestino" name="inputDireccionDestino" class="form-select custom-select" required>
                                        @*<option selected></option>*@
                                    </select>
                                </div>
                                <textarea class="form-control bg-inverse bg-opacity-10" id="textAreaDireccionDestino" rows="3" style="resize: none;" disabled></textarea>
                            </div>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                                <label for="inputDestinatarioFactura" class="form-label" style="font-size: 12px">Destinatario de factura</label>
                                <div class="input-group mb-3">
                                    <select id="inputDestinatarioFactura" name="inputDestinatarioFactura" class="form-select custom-select">
                                        @*<option selected></option>*@
                                    </select>
                                </div>
                                <textarea class="form-control bg-inverse bg-opacity-10" id="textAreaDestinatarioFactura" rows="3" style="resize: none;" disabled></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-2 px-3">
                        <div class="row g-2 mb-2">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12" >
                                <label for="inputFechaContabilizacion" class="form-label" style="font-size: 12px">Fecha de Contabilización</label>
                                <div class="input-group text-end mb-2">
                                    <span class="input-group-text"><i class="fa-regular fa-calendar"></i></span>
                                    <input type="text" class="form-control" id="datepicker-default" name="inputFechaContabilizacion" autocomplete="off" placeholder="dd/mm/yyyy" required>
                                </div>
                            </div>
                        </div>
                        <div class="row g-2 mb-2">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="inputFechaEntrega" class="form-label" style="font-size: 12px">Fecha de Entrega</label>
                                <div class="input-group text-end mb-2">
                                    <span class="input-group-text"><i class="fa-regular fa-calendar"></i></span>
                                    <input type="text" class="form-control" id="datepicker-range" name="inputFechaEntrega" autocomplete="off" placeholder="dd/mm/yyyy" required>
                                </div>
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="inputFechaDocumento" class="form-label" style="font-size: 12px">Fecha de Documento</label>
                                <div class="input-group text-end mb-2">
                                    <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                                    <input type="text" class="form-control" id="datepicker-inline" name="inputFechaDocumento" autocomplete="off" placeholder="dd/mm/yyyy" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                        <div class="row gx-4">
                            <div class="col-12 col-sm-4 col-md-4 col-lg-4 text-end">
                                <label for="inputMoneda" class="form-label" style="font-size: 12px">Moneda</label>
                                <div class="input-group mb-3 text-end">
                                    <input id="inputMoneda" name="inputMoneda" type="text" class="form-control bg-inverse bg-opacity-10" style="font-size: 12px" disabled>
                                </div>
                            </div>
                            <div class="col-12 col-sm-8 col-md-8 col-lg-8 text-end">
                                <label for="inputCondicionPago" class="form-label" style="font-size: 12px">Condición de Pago</label>
                                <div class="input-group mb-3">
                                    <input id="inputCondicionPago" name="inputCondicionPago" type="text" class="form-control bg-inverse bg-opacity-10" style="font-size: 12px" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row g-2 mb-2">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <label for="textAreaComentario" class="form-label" style="font-size: 12px">Comentario</label>
                                <textarea class="form-control" style="resize: none;" id="textAreaComentario" name="textAreaComentario" autocomplete="off" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-10 mb-3">
        <div class="card" style="z-index: 1;">
            <div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-light">
                DETALLE
            </div>

            <div class="card-body align-items-center fw-light p-2">
                <div class="container-fluid">
 
                    <table id="datatableNewOrderDraft" class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th class="border-top-0 pt-0 px-2"></th>
                                <th class="border-top-0 pt-0 px-3">Código de Artículo</th>
                                @*<th class="border-top-0 pt-0 px-2 text-wrap">
                                    <span class="d-inline-block">Código</span>
                                    <span class="d-inline-block">del Artículo</span>
                                </th>*@
                                <th class="border-top-0 pt-0" style="padding-left: 6rem; padding-right: 6rem;">Descripción de Artículo</th>
                                <th class="border-top-0 pt-0 px-3">Código de almacén</th>
                                <th class="border-top-0 pt-0 px-2">Cant. Almacén</th>
                                <th class="border-top-0 pt-0 px-2">Stock General</th>
                                <th class="border-top-0 pt-0 px-4">Código de barras</th>
                                <th class="border-top-0 pt-0 px-3">Cantidad</th>
                                <th class="border-top-0 pt-0 px-4">Precio</th>
                                <th class="border-top-0 pt-0 px-4">Descuento</th>
                                <th class="border-top-0 pt-0 px-5">IGV</th>
                            </tr>
                        </thead>
                        <tbody id="detalleRow">
                        </tbody>
                    </table>
                </div>        
            </div>

            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-2 mb-1">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-12">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-light">
                        ADICIONALES
                    </div>

                    <div class="card-body align-items-center fw-light p-4">
                        <label for="inputTransferenciaGratuita" class="form-label" style="font-size: 12px">Transferencia gratuita</label>
                        <div class="input-group mb-3">
                            <select id="inputTransferenciaGratuita" name="inputTransferenciaGratuita" class="form-select custom-select">
                                <option value="" selected></option>
                            </select>
                        </div>
                        <label for="inputConsignacion" class="form-label" style="font-size: 12px">Consignación</label>
                        <div class="input-group mb-3">
                            <select id="inputConsignacion" name="inputConsignacion" class="form-select custom-select">
                                <option value="" selected></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="inputNumeroOrdenCompra" class="form-label" style="font-size: 12px">Numero de orden de compra</label>
                            <input id="inputNumeroOrdenCompra" name="inputNumeroOrdenCompra" type="text" class="form-control" autocomplete="off">
                        </div>
                    </div>

                    <div class="card-arrow">
                        <div class="card-arrow-top-left"></div>
                        <div class="card-arrow-top-right"></div>
                        <div class="card-arrow-bottom-left"></div>
                        <div class="card-arrow-bottom-right"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-12">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-light">
                        RESUMEN
                    </div>

                    <div class="card-body align-items-center fw-light p-4">
                        <label for="inputTotal" class="form-label" style="font-size: 12px">Total</label>
                            <input id="inputTotal" name="inputTotal" type="text" class="form-control mb-3 bg-inverse text-end bg-opacity-10" disabled>

                        <label for="inputImpuestos" class="form-label" style="font-size: 12px">Impuestos</label>
                            <input id="inputImpuestos" name="inputImpuestos" type="text" class="form-control mb-3 bg-inverse text-end bg-opacity-10" disabled>

                        <label for="inputTotalDocumento" class="form-label" style="font-size: 12px">Total Documento</label>
                        <input id="inputTotalDocumento" name="inputTotalDocumento" type="text" class="form-control text-end mb-3 bg-inverse bg-opacity-10" disabled>
                    </div>

                    <div class="card-arrow">
                        <div class="card-arrow-top-left"></div>
                        <div class="card-arrow-top-right"></div>
                        <div class="card-arrow-bottom-left"></div>
                        <div class="card-arrow-bottom-right"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-12 align-items-center text-center">
                <button type="submit" id="btnGrabar" class="btn btn-danger px-4">Grabar</button>
                <a href="/Ingreso/OrderDraft" class="btn btn-outline-theme px-3">
                    <span class="text-dark">Cancelar</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 gx-4 ms-auto">
            @*<button type="submit" id="btnGrabar" class="btn btn-danger px-4">Grabar</button>
            <a href="/Ingreso/OrderDraft" class="btn btn-outline-theme px-3">
                <span class="text-dark">Cancelar</span>
            </a>*@

            <div id="myModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirmación</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Se creará una nueva orden preliminar. ¿Desea Seguir?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <input id="btnAceptar" type="button" class="btn btn-danger" value="Aceptar">
                            <div id="loadingSpinner" class="spinner-border text-danger" role="status">
                                <span class="visually-hidden">Cargando...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

<div id="modalError" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle2"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalContentError">
                
            </div>
            <div class="modal-footer">
                <input id="btnAceptarError" type="button" class="btn btn-danger" value="Aceptar">
            </div>
        </div>
    </div>
</div>


<div id="orderData" data-order='@Html.Raw(orderData)'></div>