@{
	ViewData["Title"] = "Consulta";
}

@section Styles {
    <link href="~/lib/tag-it/css/jquery.tagit.css" rel="stylesheet">
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <link href="~/lib/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet">

    <link href="~/lib/select-picker/dist/picker.min.css" rel="stylesheet">
    <link href="~/lib/jquery-typeahead/dist/jquery.typeahead.min.css" rel="stylesheet">

    <link href="~/lib/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
	<link href="~/lib/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet">
	<link href="~/lib/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet">
	<link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">

    <style>
        body{
            zoom: 75%;
        }

        .input-group {
            flex-wrap: nowrap;
        }

        .custom-select {
            background-position: left 0.75rem center;
            padding: 0.375rem 0.75rem 0.375rem 2.25rem;
        }

        .dataTables_scrollBody {
            height: 400px;
        }

        .typeahead__list {
            z-index: 999;
        }

    </style>

}

@section Scripts {
    <script src="~/lib/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/lib/@@highlightjs/cdn-assets/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>

    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

    <script src="~/lib/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>

    <script src="~/lib/jquery-typeahead/dist/jquery.typeahead.min.js"></script>

    <script src="~/lib/select-picker/dist/picker.min.js"></script>

    <!--BEGIN Datatable-->
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <!--END Datatable-->

    <script src="~/lib/pdfmake/build/pdfmake.js"></script>
    <script src="~/lib/pdfmake/build/vfs_fonts.js"></script>

    <script src="~/js/scripts/consulta_Orders.js"></script>
}


<div class="d-flex align-items-center mb-3">
	<div>
		<ul class="breadcrumb">
			<li class="breadcrumb-item active">Consulta</li>
			<li class="breadcrumb-item active">Órdenes de venta preliminares</li>
		</ul>
		<h1 class="page-header mb-0">Consulta de Órdenes de venta preliminares</h1>
	</div>
</div>

<form id="formConsulta">
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card mb-3">
            <div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-light">
                INGRESO DE DATOS
            </div>
            <div class="card-body align-items-center fw-light">
                <div class="row gx-5">
                    <div class="col-12 col-sm-6 col-mb-10 col-lg-10">
                        <div class="row gx-4">
                            <div class="col-12 col-sm-6 col-mb-2 col-lg-2">
                                <div class="typeahead__container mb-1">
                                    <label class="form-label" style="font-size: 12px">Código de Cliente</label>
                                    <div class="typeahead__field">
                                        <div class="typeahead__query input-group">
                                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                                            <input class="form-control" name="inputCodigoCliente" id="inputCodigoCliente" placeholder="" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-mb-3 col-lg-3">
                                <div class="typeahead__container mb-1">
                                    <label class="form-label" style="font-size: 12px">Nombre de Cliente</label>
                                    <div class="typeahead__field">
                                        <div class="typeahead__query input-group">
                                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                                            <input class="form-control" name="inputNombreCliente" id="inputNombreCliente" placeholder="" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-mb-4 col-lg-4">
                                <label for="nombreCliente" class="form-label" style="font-size: 12px">Rango de fecha de emisión</label>
                                <div class="row gx-3">
                                    <div class="col-6">
                                        <div class="input-group mb-3 w-auto">
                                            <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                                            <input id="datepicker-inline" name="fechaInicio" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group mb-3 w-auto">
                                            <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-calendar"></i></span>
                                            <input id="datepicker-default" name="fechaFin" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-mb-3 col-lg-3">
                                <label for="timepicker" class="form-label" style="font-size: 12px">Rango de horas</label>
                                <div class="row gx-3">
                                    <div class="col-6">
                                        <div class="input-group mb-3 w-auto">
                                            <span class="input-group-text"><i class="fa-regular fa-clock"></i></span>
                                            <input id="timepicker-inicio" name="timepicker-inicio" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group mb-3 w-auto">
                                            <span class="input-group-text"><i class="fa-regular fa-clock"></i></span>
                                            <input id="timepicker-final" name="timepicker-final" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="row gx-4">
                            <div class="col-12 col-sm-6 col-mb-2 col-lg-2">
                                <div class="typeahead__container mb-1">
                                    <label class="form-label" style="font-size: 12px">Código de producto</label>
                                    <div class="typeahead__field">
                                        <div class="typeahead__query input-group">
                                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                                            <input class="form-control" name="inputCodigoProducto" id="inputCodigoProducto" placeholder="" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-mb-3 col-lg-3">
                                <div class="typeahead__container mb-1">
                                    <label class="form-label" style="font-size: 12px">Descripción de producto</label>
                                    <div class="typeahead__field">
                                        <div class="typeahead__query input-group">
                                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                                            <input class="form-control" name="inputDescripcionProducto" id="inputDescripcionProducto" placeholder="" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-mb-4 col-lg-4">
                                <div class="typeahead__container mb-1">
                                    <label class="form-label" style="font-size: 12px">Vendedor</label>
                                    <div class="typeahead__field">
                                        <div class="typeahead__query input-group">
                                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                                            <input class="form-control" name="inputVendedor" id="inputVendedor" placeholder="" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-mb-3 col-lg-3">
                                <div class="typeahead__container mb-1">
                                    <label class="form-label" style="font-size: 12px">Dirección destino</label>
                                    <div class="typeahead__field">
                                        <div class="typeahead__query input-group">
                                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                                            <input class="form-control" name="inputDireccion" id="inputDireccion" placeholder="" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gx-4">
                            <div class="col-12 col-sm-6 col-mb-2 col-lg-2">
                                <div class="typeahead__container mb-1">
                                    <label class="form-label" style="font-size: 12px">Órden de compra</label>
                                    <div class="typeahead__field">
                                        <div class="typeahead__query input-group">
                                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                                            <input class="form-control" name="inputOrdenCompra" id="inputOrdenCompra" placeholder="" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-mb-3 col-lg-3">
                                <div class="typeahead__container mb-1">
                                    <label class="form-label" style="font-size: 12px">Comentario</label>
                                    <div class="typeahead__field">
                                        <div class="typeahead__query input-group">
                                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                                            <input class="form-control" name="inputComentario" id="inputComentario" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-mb-3 col-lg-3">
                                <div class="typeahead__container mb-1">
                                    <label class="form-label" style="font-size: 12px">Código de almacén</label>
                                    <div class="typeahead__field">
                                        <div class="typeahead__query input-group">
                                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                                            <input class="form-control" name="inputCodigoAlmacen" id="inputCodigoAlmacen" placeholder="" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-mb-2 col-lg-2">
                        <div class="row g-0">
                            <div class="col-12 col-sm-12 col-mb-12 col-lg-12">
                                <label for="inputEstado" class="form-label" style="font-size: 12px">Estado</label>
                                <div class="input-group mb-3">
                                        <select id="inputEstado" name="inputEstado" class="form-select custom-select">
                                        <option selected></option>
                                    </select>
                                </div>
                            </div> 
                        </div>
                        <div class="row g-0">
                            <div class="col-12 col-sm-12 col-mb-12 col-lg-12">
                                <label for="inputStatus" class="form-label" style="font-size: 12px">Status</label>
                                <div class="input-group mb-3">
                                        <select id="inputStatus" name="inputStatus" class="form-select custom-select">
                                        <option selected></option>
                                    </select>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
        </div>
    </div>
</div>
<!--BEGIN btnConsultar-->
<div class="d-md-flex mx-4">
	<div class="ms-auto mt-md-0 mt-2">
        <button type="submit" class="btn btn-outline-theme" id="btnConsultar">
            <span class="text-dark px-4">Consultar</span>
        </button>
	</div>
</div>
<!--END btnConsultar-->
</form>

<div class="mb-md-3 d-md-flex" style="z-index: 1;">
    <div class="mt-md-0 mt-2">
        <a href="#" class="text-inverse text-opacity-75 text-decoration-none">
            <i class="fa fa-download fa-fw me-1 text-theme"></i> 
            Exportar 
            <span id="btnPDF">PDF</span> / <span id="btnXLS">XLS</span>
        </a>
    </div>
</div>


<!--BEGIN RESULTADO-->
<div class="row mb-2">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-3">
        <div class="card mb-3" style="z-index: 1;">
            <div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-light">
                RESULTADOS
            </div>
            <div class="card-body align-items-center fw-light">
                <div class="container-fluid">
                    <!-- BEGIN table -->
                    <table id="datatableConsulta" class="table table-hover text-nowrap w-100">
                        <thead>
                            <tr id="cabecera">
                                <th class="border-top-0 pt-0 pb-2 text-sm">Nro de orden</th>
                                <th class="border-top-0 pt-0 pb-2 text-sm">Código de Cliente</th>
                                <th class="border-top-0 pt-0 pb-2 text-sm">Nombre de Cliente</th>
                                <th class="border-top-0 pt-0 pb-2 text-sm">Fecha</th>
                                <th class="border-top-0 pt-0 pb-2 text-sm">Hora</th>
                                <th class="border-top-0 pt-0 pb-2 text-sm">Vendedor</th>
                                <th class="border-top-0 pt-0 pb-2 text-sm">Estado</th>
                                <th class="border-top-0 pt-0 pb-2 text-sm">Status</th>
                                <th class="border-top-0 pt-0 pb-2 text-sm">Comentario</th>
                                <th class="border-top-0 pt-0 pb-2 text-sm">Sub total</th>
                                <th class="border-top-0 pt-0 pb-2 text-sm">Total</th>
                                <th class="border-top-0 pt-0 pb-2 text-sm">Dirección destino</th>
                                <th class="border-top-0 pt-0 pb-2 text-sm">Número de entrega</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <!-- END table -->
                </div>
            </div>   
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
        </div>
    </div>
</div>

@*<input type="text" id="timepicker-default">
<button id="btn-get-time">Obtener hora seleccionada</button>
<p id="selected-time"></p>*@
