@{
	ViewData["Title"] = "User";
}

@section Styles {
	<link href="~/lib/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
	<link href="~/lib/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet">
	<link href="~/lib/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet">
	<link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">

	<style>
		body{
			zoom: 75%;
		}

	</style>

}

@section Scripts {
	<script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
@*	<script src="~/lib/@@highlightjs/cdn-assets/highlight.min.js"></script>
	<script src="~/js/demo/highlightjs.demo.js"></script>*@
	<script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="~/lib/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="~/lib/datatables.net-buttons/js/buttons.colVis.min.js"></script>
	<script src="~/lib/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="~/lib/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="~/lib/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
	<script src="~/js/demo/sidebar-scrollspy.demo.js"></script>
	<script src="~/js/scripts/administrador_user.js"></script>

}


<div class="d-flex align-items-center mb-3">
	<div>
		<ul class="breadcrumb">
			<li class="breadcrumb-item active">Administrador</li>
			<li class="breadcrumb-item active">Usuarios</li>
		</ul>
		<h1 class="page-header mb-0">Registro de usuarios</h1>
	</div>
</div>

<div class="mb-md-4 mb-2 d-md-flex">
	<div class="ms-auto">
		@*<a href="/Administrador/NewUser" class="btn btn-outline-theme">
			<i class="fa fa-plus-circle fa-fw me-1"></i>
			<span class="text-dark">Nuevo usuario</span>
		</a>*@
	</div>
</div>

<div class="card">
	<div class="tab-content p-4">
		<div class="tab-pane fade show active" id="allTab">
			<div class="container-fluid px-0">
				<!-- BEGIN table -->
				<table id="datatableUser" class="table table-hover">
					<thead>
						<tr>
							<th class="border-top-0 pt-0 pb-2 ps-5">ID</th>
							<th class="border-top-0 pt-0 pb-2">Nombre</th>
							<th class="border-top-0 pt-0 pb-2">Rol</th>
							<th class="border-top-0 pt-0 pb-2">Estado</th>
							<th class="border-top-0 pt-0 pb-2">Acciones</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<!-- END table -->
			</div>
		</div>
	</div>
	<div class="card-arrow">
		<div class="card-arrow-top-left"></div>
		<div class="card-arrow-top-right"></div>
		<div class="card-arrow-bottom-left"></div>
		<div class="card-arrow-bottom-right"></div>
	</div>
</div>
